label {
  display: inline-block;
  width: 300px;
  text-align: right;
}​

select{
  font-size: 40px;
}




#centered{
    margin:auto;
}


/*Table*/

table{
    width: 95%;
    margin:auto;
    font-size: 120%;
    table-layout:fixed;
    border: 2px solid #17A41C;
    border-collapse: collapse;
}

table tr:hover {
      background-color: #42f465;
}

table, th, td {
    border: 3px solid #175203;
}

tbody {
    display: block;   /*scrollable*/
    height: 400px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

thead, tbody tr {
    display:table;
    width: 100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.boldoption{
    font-weight:bold;
}

